<footer role="contentinfo" class="footer">
  <div class="container-md">
    <div class="row">
      
      <!-- Contact Column -->
      <div class="col-12 col-md-6 col-lg-2 col-footer mb-4">
        <h2 class="footer-heading" id="contact_label">Contact</h2>
        <ul aria-labelledby="contact_label">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Library Departments</a></li>
          <li><a href="#">Staff Directory</a></li>
          <li><a href="#">Feedback</a></li>
        </ul>
      </div>

      <!-- Information Column -->
      <div class="col-12 col-md-6 col-lg-2 col-footer mb-4">
        <h2 class="footer-heading" id="information_for_label">Information for</h2>
        <ul aria-labelledby="information_for_label">
          <li><a href="#">Patrons with Disabilities</a></li>
        </ul>

        <h2 class="footer-heading" id="policies_label">Policies</h2>
        <ul aria-labelledby="policies_label">
          <li><a href="#">Library Policies</a></li>
          <li><a href="#">Privacy Statement</a></li>
          <li><a href="#">University Accessibility</a></li>
        </ul>
      </div>

      <!-- Address Column (order-first on md+, goes to bottom on mobile) -->
      <div class="col-12 col-md-12 col-lg-4 col-footer order-lg-3 order-2 mb-4">
        <div class="centerdiv">
          <a href="#">
            <img alt="The University of Chicago" src="https://www.lib.uchicago.edu/web-resources/img/white-logo.png" width="150">
          </a>
          <p>
            <span>The University of Chicago Library</span><br>
            <span>1100 E. 57th St., Chicago, IL 60637</span>
          </p>
          <small>
            © <span>The University of Chicago</span><br>
            <span class="staff-login"><a href="#">Staff Login</a></span>
          </small>
        </div>
      </div>

      <!-- Libraries Column -->
      <div class="col-12 col-md-6 col-lg-2 col-footer order-lg-4 order-1 mb-4">
        <h2 class="footer-heading" id="library_list_label">Libraries</h2>
        <ul aria-labelledby="library_list_label">
          <li><a href="#">Crerar</a></li>
          <li><a href="#">D'Angelo Law</a></li>
          <li><a href="#">Eckhart</a></li>
          <li><a href="#">Mansueto</a></li>
          <li><a href="#">Regenstein</a></li>
          <li><a href="#">Special Collections</a></li>
          <li><a href="#">Social Work</a></li>
        </ul>
      </div>

      <!-- Social Media Column -->
      <div class="col-12 col-md-6 col-lg-2 col-footer order-lg-5 order-1 mb-4">
        <h2 class="footer-heading" id="social_media_label">Library Social Media</h2>
        <ul aria-labelledby="social_media_label">
          <li><a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i> Facebook</a></li>
          <li><a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i> Twitter</a></li>
          <li><a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i> Instagram</a></li>
          <li><a href="#"><i class="fa-solid fa-rss" aria-hidden="true"></i> Library News</a></li>
          <li><a href="#"><i class="fa-brands fa-youtube" aria-hidden="true"></i> YouTube</a></li>
          <li><a href="#"><i class="fa-solid fa-clone" aria-hidden="true"></i> More Library Accounts...</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
{% include "meta/document-end.html" %}
